iframe {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 3px;
}

path.area {
  fill: #e7e7e7;
}

#legend {
  height: 80px;
}

#legend #target-date {
  height: 30px;
  margin: 5px;
}

#legend .color {
  height: 30px;
  margin: 5px;
  width: 30px;
}

#legend .approval-rate {
  height: 30px;
  margin: 5px;
}



.axis {
  shape-rendering: crispEdges;
}

.flex-box {
    display: flex;
}

.x.axis line {
  stroke: #fff;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}
.guideline {
  margin-right: 100px;
  float: right;
}
